In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error, r2_score
from pandas.core.common import random_state
from sklearn.linear_model import LinearRegression

In [49]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [50]:
# Read the CSV file into a DataFrame
nba = pd.read_csv('nbafinal.csv')

In [51]:
nba.shape

(30, 28)

In [52]:
nba.head()

,Team,Games Played,Wins,Losses,WIN%,Minutes Played,Points Scored,Field Goals Made,Field Goals Attempted,FG%,Three Point Made,Three Point Attempted,3P%,Free Throws Made,Free Throws Attempted,FT%,Offensive Rebounds,Defensive Rebounds,Total Rebounds,Assits,Turnovers,Steals,Blocks,Block Againsts,Personal Fouls,Personal Fouls Drawn,Points Against,+/-
0,Atlanta Hawks,459,217,242,47.276688,22192,53153,19446,41549,46.802570,5750,16009,35.917297,8511,10625,80.103529,5070,15313,20383,11771,6332,3534,2185,2395,8948,9127,52642,-511
1,Boston Celtics,464,311,153,67.025862,22482,53663,19444,41350,47.022975,6958,18697,37.214526,7817,9746,80.207265,4892,16231,21123,11699,6071,3361,2646,1996,8613,8776,50367,3296
2,Brooklyn Nets,465,228,237,49.032258,22455,52071,19011,40785,46.612725,6047,16671,36.272569,8002,10215,78.335781,4695,15631,20326,11826,6566,3255,2413,2263,9341,8931,51743,-328
3,Charlotte Hornets,457,165,292,36.105033,22076,49671,18317,40594,45.122432,5759,16348,35.227551,7278,9562,76.113784,4954,14940,19894,11685,6538,3463,2152,2323,8687,8732,47174,-2497
4,Chicago Bulls,457,211,246,46.170678,22101,51232,19151,40539,47.240928,5519,15227,36.244828,7411,9315,79.559850,4429,15428,19857,11596,6326,3560,2017,2335,8732,8326,50750,-482

In [53]:
nba.tail()

,Team,Games Played,Wins,Losses,WIN%,Minutes Played,Points Scored,Field Goals Made,Field Goals Attempted,FG%,Three Point Made,Three Point Attempted,3P%,Free Throws Made,Free Throws Attempted,FT%,Offensive Rebounds,Defensive Rebounds,Total Rebounds,Assits,Turnovers,Steals,Blocks,Block Againsts,Personal Fouls,Personal Fouls Drawn,Points Against,+/-
25,Sacramento Kings,464,222,242,47.844828,22442,53190,19641,41325,47.528131,5960,16536,36.042574,7948,10306,77.120124,4633,15296,19929,12025,6346,3457,1969,2069,9199,9009,52694,-496
26,San Antonio Spurs,463,174,289,37.580994,22399,52284,19621,42153,46.547102,5390,15248,35.348898,7652,9869,77.535718,4849,15641,20490,12622,6276,3415,2426,2214,8434,8604,50539,-1745
27,Toronto Raptors,465,222,243,47.741935,22455,51865,19094,41831,45.645574,5705,16144,35.338206,7972,10274,77.593926,5333,15066,20399,11787,6302,3989,2261,2510,9442,8917,51737,-128
28,Utah Jazz,465,229,236,49.247312,22430,53164,19125,40878,46.785557,6550,17970,36.449638,8364,10607,78.853587,5164,16239,21403,11434,7119,3030,2287,2374,8975,9242,52948,216
29,Washington Wizards,464,160,304,34.482759,22377,52199,19334,41438,46.657657,5371,15360,34.967448,8160,10486,77.818043,4491,15523,20014,11937,6599,3380,2240,2341,9375,9260,49694,-2505

In [54]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12844 entries, 0 to 12843
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         12844 non-null  int64
 1   player_name        12844 non-null  object
 2   team_abbreviation  12844 non-null  object
 3   age                12844 non-null  float64
 4   player_height      12844 non-null  float64
 5   player_weight      12844 non-null  float64
 6   college            10990 non-null  object
 7   country            12844 non-null  object
 8   draft_year         12844 non-null  object
 9   draft_round        12844 non-null  object
 10  draft_number       12844 non-null  object
 11  gp                 12844 non-null  int64
 12  pts                12844 non-null  float64
 13  reb                12844 non-null  float64
 14  ast                12844 non-null  float64
 15  net_rating         12844 non-null  float64
 16  oreb_pct           12844 non-null  float64
 17  dreb_pct           12844 non-null  float64
 18  usg_pct            12844 non-null  float64
 19  ts_pct             12844 non-null  float64
 20  ast_pct            12844 non-null  float64
 21  season             12844 non-null  object
dtypes: float64(12), int64(2), object(8)
memory usage: 2.2+ MB
None